* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: #082032;
}

h1 {
  color: #ff4c29;
  font-size: 5rem;
}

.recipes form input {
  margin: 2rem;
  height: 3rem;
  width: 30rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 1rem;
}

.recipes form button {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0.35rem;
}

.recipes form button:hover {
  cursor: pointer;
  background: #ff4c29;
}

.recipes__cards {
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.recipes__cards div {
  box-shadow: 1px 2px 5px #ff4c29;
  border-radius: 1rem;
  width: 20rem;
  height: 20rem;
}

.recipes__cards img {
  border-radius: 1rem;
  width: 20rem;
  height: 15rem;
}

.recipes__cards h2 {
  color: #ff4c29;
  padding: 1rem;
  text-align: left;
}
